.widgedSmalle {
  flex: 1;
  box-shadow: -6px -9px 12px 7px rgba(232, 183, 132, 0.75);
  -webkit-box-shadow: -6px -9px 12px 7px rgba(232, 183, 132, 0.75);
  -moz-box-shadow: -6px -9px 12px 7px rgba(232, 183, 132, 0.75);
  padding: 20px;
  margin-right: 20px;
}
.widsmTitle {
  font-size: 22px;
  font-weight: bold;
}
.widgsmImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.wigsmList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widgSmListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}
.WidgedSmUser {
  display: flex;
  flex-direction: column;
}
.wigSmUserName {
  font-weight: 600;
}
.wigsmUserTitle {
  font-weight: 300;
}
.widgesmBotton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 7px 18px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}
.wigsmIcon {
  font-size: 16px;
  margin-right: 5px;
}
